.loader {
  background-color: red;
  height: 50px;
  width: 50px;
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(50vh - 75px);
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
