.list {
  margin: 0;
  padding-left: 0;
  background-color: white;
  border-top: 1px solid lightgray;
  li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    button {
      color: black;
      font-weight: bold;
    }
    .save {
      background-color: orange;
    }
    .unsave {
      background-color: darkorange;
    }
  }
}
